<% provide(:title, 'Contact') %>
<div class="span4">
	<h3>Chunks | Contact</h3>
	<address>
		<strong>Mark Braspenning</strong><br>
		Eindhoven, The Netherlands<br>
		<a href="mailto:#">info@chunks.eu</a><br>
	</address>
</div>