<% provide(:title, 'Contact') %>
<div class="span4">
	<h3>Chunks | Contact</h3>
	<address>
		<strong>Chunks.eu</strong><br>
		Koolzaadpad 23<br>
		5632 KK<br>
		Eindhoven, The Netherlands<br>
		<abbr title="Phone">P:</abbr> +31 6 22464786
	</address>
	<address>
		<strong>Mark Braspenning</strong><br>
		<a href="mailto:#">info@chunks.eu</a>
	</address>
</div>