<% provide(:title, 'Home') %>
<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span12">
      <h1>Get Things Done with Chunks!</h1>
      <p class="lead">
      	Chunks homepage - based on http://bootswatch.com/cerulean/# for looks

      </p>
    </div>
  </div>
</header>
